<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    <link rel="stylesheet" href="../../static/student/after_login.css">
</head>
<body>
    <header>
        <h1>Student Portal</h1>
        <!-- <img src="../../static/student/student.png" alt="student"> -->
        <img src="../../static/logo.png" class="logo" alt="IITGN logo">
    </header>

    <form action="{{url_for('student_bp.after_login_student')}}" method="post">
        <div class="container">
            <h2>Welcome, {{student_name}}!</h2>
            <button class='btn' name="submit_button" value="personal_info" type="submit">Personal Information</button>
            <button class='btn' name="submit_button" value="jobs_available" type="submit">Jobs Available</button>
            <button class='btn' name="submit_button" value="applied_jobs" type="submit">Applied Jobs</button>
            <button class='btn' name="submit_button" value="my_jobs" type="submit">My Jobs</button>
            <button class='btn' name="submit_button" value="logout" type="submit">Logout</button>
        </div>
    </form>
    <footer>
        <p>&copy; 2024, DataWeavers, CS432 Databases, IIT Gandhinagar, Gujarat, India</p>
    </footer>
    <script src="../../static/student/after_login.js"></script>
</body>
</html>
