<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/personal_info.css">
    <title>Bank details</title>
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- student sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/student">Home Page</a><br>
        <a href="/student/personal_info">Personal Info</a><br>
        <div class="sub-links">
            <a href="/student/personal_info">Personal Info Change</a><br>
            <a href="/student/personal_info/bank_details">Bank Details</a><br>
            <a href="/student/change_password">Change Password</a><br>
        </div>
        <a href="/student/applied_jobs">Applied Jobs</a><br>
        <a href="/student/jobs_available">Jobs Available</a><br>
        <a href="/student/my_jobs">My Jobs</a><br>
        <a href="/student/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        <h1>Bank Details</h1>
        <table class="bank-details">
            <tr>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>IFSC Code</th>
            </tr>
            <tr>
                {% if bank_data %}
                    <td>{{ bank_data[0][0] }}</td>
                    <td>{{ bank_data[0][1] }}</td>
                    <td>{{ bank_data[0][2] }}</td>
                {% else %}
                    <td colspan="3">No bank details found</td>
                {% endif %}
            </tr>
        </table>
        <!-- redirect to ./edit_bank_details when the below form is submitted -->
        <form action="{{url_for('student_edit_bank_details', bank_data = bank_data )}}" class="update-profile-form">
            <input type="submit" name="submit_button" value="Update Bank Details" class="update-profile">
        </form>
        <!-- <button onclick="window.location.href = '/student/edit_bank_details';" name="submit_button" value="Edit">Edit Bank Details</button> -->
    </div>
    <script src="../../static/personal_info.js"></script>
</body>
</html>
