<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank details</title>
    
</head>
<body>
    <h1>Bank Details</h1>
    <div>
        <table>
            <tr>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>IFSC Code</th>
            </tr>
            <tr>
                <td>{{ bank_data[0] }}</td>
                <td>{{ bank_data[1] }}</td>
                <td>{{ bank_data[2] }}</td>
            </tr>
        </table>
        <button onclick="window.location.href = '/student/edit_bank_details';" name="submit_button" value="Edit">Edit Bank Details</button>
    </div>
</body>
</html>
