<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/personal_info.css">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- student sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/student">Home Page</a><br>
        <a href="/student/personal_info">Personal Info</a><br>
        <div class="sub-links">
            <a href="/student/personal_info">Personal Info Change</a><br>
            <a href="/student/personal_info/bank_details">Bank Details</a><br>
            <a href="/student/change_password">Change Password</a><br>
        </div>
        <a href="/student/applied_jobs">Applied Jobs</a><br>
        <a href="/student/jobs_available">Jobs Available</a><br>
        <a href="/student/my_jobs">My Jobs</a><br>
        <a href="/student/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        <form action="/student/change_password" method="post">
            <h1 class="main-content-heading">Change Password</h1>
            <label for="old_password">Old Password:</label><br>
            <input type="password" id="old_password" name="old_password" required><br>
            <label for="new_password">New Password:</label><br>
            <input type="password" id="new_password" name="new_password" required><br>
            <label for="confirm_password">Confirm Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br>
            <input type="submit" class="update-profile" value="Change Password">
        </form>
    </div>
    <script src="../../static/personal_info.js"></script>
</body>
</html>
