<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Bank Details</title>
    <link rel="stylesheet" href="../../static/personal_info.css">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- student sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/student">Home Page</a><br>
        <a href="/student/personal_info">Personal Info</a><br>
        <div class="sub-links">
            <a href="/student/personal_info">Personal Info</a><br>
            <a href="/student/bank_details">Bank Details</a><br>
            <a href="/student/change_password">Change Password</a><br>
        </div>
        <a href="/student/applied_jobs">Applied Jobs</a><br>
        <a href="/student/jobs_available">Jobs Available</a><br>
        <a href="/student/my_jobs">My Jobs</a><br>
        <a href="/student/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        <h1 class="main-content-heading">Edit Bank Details</h1>
        <form action="/student/edit_bank_details" method="POST">
            <label for="bank_name">Bank Name:</label>
            <input type="text" id="bank_name" name="bank_name" value="{{bank_data[0][2]}}" required><br><br>
            <label for="account_number">Account Number:</label>
            <input type="text" id="account_number" name="account_number" value="{{bank_data[0][0]}}" required><br><br>
            <label for="ifsc_code">IFSC Code:</label>
            <input type="text" id="ifsc_code" name="ifsc_code" value="{{bank_data[0][1]}}" required><br><br>
            <input type="submit" class="update-profile" value="Submit">
        </form>
    </div>
    <script src="../../static/personal_info.js"></script>
</body>
</html>