<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/student/edit_bank_details" method="POST">
        <label for="bank_name">Bank Name:</label>
        <input type="text" id="bank_name" name="bank_name" ><br><br>
        <label for="account_number">Account Number:</label>
        <input type="text" id="account_number" name="account_number" ><br><br>
        <label for="ifsc_code">IFSC Code:</label>
        <input type="text" id="ifsc_code" name="ifsc_code" ><br><br>
        <input type="submit" value="Submit">
</body>
</html>