<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/student/personal_info.css">
    <title>Student Personal Information</title>
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/student">Home Page</a><br>
        <a href="/student/personal_info">Personal Info</a><br>
        <a href="/student/applied_jobs">Applied Jobs</a><br>
        <a href="/student/jobs_available">Jobs Available</a><br>
        <a href="/student/my_jobs">My Jobs</a><br>
        <a href="/student/logout">Logout</a><br>
    </div>

    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        
        <h1 class="main-content-heading">Personal Information</h1>
        <div class="user-info">
            <p>Roll Number: {{ student_data[0][0]}}</p>
            <p>First Name: {{ student_data[0][1]}}</p>
            <p>Middle Name: {{ student_data[0][2] }}</p>
            <p>Last Name: {{ student_data[0][3] }}</p>
            <p>Email: {{ student_data[0][4] }}</p>
            <p>CPI: {{ student_data[0][5] }}</p>
            <p>Last Sem SPI: {{ student_data[0][6] }}</p>
            <p>Contact Number: {{ student_phone[0][0]}}</p>
            {% if student_phone[1] %}
                <p>Alternate Contact Number: {{ student_phone[1][0]}}</p>
            {% else %}
                <p>Alternate Contact Number: Not Added</p>
            {% endif %}
            
        </div>
        <form action="{{url_for('student_personal_info')}}" method="POST">
            <input type="submit" name="submit_button" value="Update Profile" class="update-profile">
        </form>
        <form action="{{url_for('student_personal_info')}}" method="POST">
            <input type="submit" name="submit_button" value="Change Password" class="update-profile">
        </form>
        <form action="{{url_for('student_bank_details')}}" method="POST">
            <input type="submit" name="submit_button" value="Bank Details" class="update-profile">
        </form>
    </div>
    <script src="../../static/student/personal_info.js"></script>
</body>
</html>