<!DOCTYPE html>
<html>
<head>
    <title>Update Personal Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/personal_info.css">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- student sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/student">Home Page</a><br>
        <a href="/student/personal_info">Personal Info</a><br>
        <div class="sub-links">
            <a href="/student/personal_info">Personal Info</a><br>
            <a href="/student/bank_details">Bank Details</a><br>
            <a href="/student/change_password">Change Password</a><br>
        </div>
        <a href="/student/applied_jobs">Applied Jobs</a><br>
        <a href="/student/jobs_available">Jobs Available</a><br>
        <a href="/student/my_jobs">My Jobs</a><br>
        <a href="/student/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        <form action="{{url_for('student_bp.student_personal_info_change')}}" method="post" enctype="multipart/form-data">

            <h1 class="main-content-heading">Update Personal Information</h1>
            <div class="user-info">
                <p>Roll Number: {{student_data[0][0]}}
                    <!-- <input type="text" name="roll_number" value="{{student_data[0][0]}}"  readonly> -->
                </p>
                <p>First Name: <input type="text" name="first_name" value="{{student_data[0][1]}}"required ></p>
                <p>Middle Name: <input type="text" name="middle_name" value="{{student_data[0][2]}}" ></p>
                <p>Last Name: <input type="text" name="last_name" value="{{student_data[0][3]}}" ></p>
                <p>Email:  {{student_data[0][4]}}
                    <!-- <input type="text" name="email" value="{{student_data[0][4]}}"  readonly> -->
                </p>
                <p>CPI: <input type="text" name="cpi" value="{{student_data[0][5]}}" min="0.0" max="10.0" required></p>
                <p>Last Sem SPI:  <input type="text" name="last_sem_spi" value="{{student_data[0][6]}}"required ></p>
                <p>On Probation:
                    <label for="on_probation"></label>
                    <input type="radio" id="yes" name="on_probation" value="Yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="on_probation" value="No" checked>
                    <label for="no">No</label>
                </p>
                
                <p>Contact Number: <input type="text" name="contact_number" value="{{ student_phone[0][0] if student_phone[0][0] != 'Not Added' else '' }}" ></p>
                <p>Alternate Contact Number: <input type="text" name="alternate_contact_number" placeholder="{{ student_phone[1][0] if student_phone[1] else 'Not Added' }}" value="{{ student_phone[1][0] if student_phone[1]}}"></p>
                <!--display image here and option to upload other image-->
                <p>
                    <label for="image">Upload Profile Image:</label>
                    <input type="file" id="image" name="image" accept="image/*"><br><br>
                </p>
            </div>
            <input type="submit" name="submit_button" value="Update Profile" class="update-profile">
            
        </form>
    </div>
    <script src="../../static/personal_info.js">
        // function toggleMenu() {
        //     var sidebar = document.getElementById('sidebar');
        //     var mainContent = document.getElementById('main-content');
        //     sidebar.classList.toggle('open');
        // }
    </script>
</body>
</html>
