<!DOCTYPE html>
<html>
<head>
    <title>{{(type.replace("_", " ")).upper() }} Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/professor/after_login.css">
</head>
<body>
    <header>
        <h1>{{(type.replace("_", " ")).upper()}} Portal</h1>
        <img src="../../static/logo.png" class="logo" alt="IITGN logo">
    </header>


    <form action="/other/{{type}}/" method="post">
        <!-- <button class='btn' name="submit_button" value="personal_info" type="submit">Personal Info</button>
        <button class='btn' name="submit_button" value="jobs_available" type="submit">Jobs Available</button>
        <button class='btn' name="submit_button" value="applied_jobs" type="submit">Applied Jobs</button>
        <button class='btn' name="submit_button" value="logout" type="submit">Logout</button>
         -->
        <div class="container">
            <h2>Welcome, {{(type.replace("_", " ")).upper() }}!</h2>
            <button class='btn' name="submit_button" value="applications_to_review" type="submit">Applications to review</button>
            <button class='btn' name="submit_button" value="approved_jobs" type="submit">Approved Jobs</button>
            {% if type == 'sa_js' %}
            <!-- render time_card table sent by backend -->
            <button class='btn' name="submit_button" value="time_card" type="submit">Pending Timecard Payments</button>
            <!-- <button class='btn' name="submit_button" value="pending_payments" type="submit">Pending Payments</button>  -->
            {% elif type == 'oceo_coordinator'%}
            <button class='btn' name="submit_button" value="time_card_approve" type="submit">Pending Timecards to Approve</button>
            {% endif %}
            <button class='btn' name="submit_button" value="logout" type="submit">Logout</button>
        </div>
        </form>
        <footer>
            <p>&copy; 2024, DataWeavers, CS432 Databases, IIT Gandhinagar, Gujarat, India</p>
        </footer>
        <script src="../../static/professor/after_login.js"></script>
</body>
</html>