html * {
    /* font-size: 1em; */
    color: #000;
    font-family: "Courier New", monospace;
}

.table-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 100px; /* Adjust margin as needed */
    margin-left: 50px;
    margin-right: 50px;
}

/* Apply basic styles to the table */
table {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 50;
}

th{
    background-color: aliceblue;
    text-align: left;
    border: 1px #000;
    font-size: x-large;
}

/* table headers */
th {
    background-color: #e0e0e0;
    text-align: left;
    padding: 20px;
    border-bottom: 5px solid #000000;
}

/* alternating table rows */
tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* table data cells */
td {
    padding: 12px;
    border-bottom: 1px solid #374a4c;
}

/* Highlighting table row on hover */
tr:hover {
    background-color: #9b7bd2;
}
