<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Job</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/newuser.css">
    <link rel="stylesheet" href="../../static/sidebar.css">
    <!-- <link rel="stylesheet" href="../../static/jobs_created.css"> -->
</head>

<body>
    <div id="professor-sidebar">
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- professor sidebar -->
        <div id="sidebar" class="sidebar">
            <h2>Dashboard</h2>
            <a href="/professor">Home Page</a><br>
            <a href="/professor/personal_info">Personal Info</a>
            <!-- <button onclick="toggleSubLinks()"></button> -->
            <br>
            <div class="sub-links">
                <a href="/professor/change_password">Change Password</a><br>
                <a href="/professor/update_profile">Personal Info Change</a><br>
            </div>
            <a href="/professor/jobs_created" >Jobs Created</a><br>
            <div class="sub-links">
                <a href="/professor/add_job">Create New Jobs</a><br>
            </div>
            <a href="/professor/timecard_for_review">Timecards for review</a><br>
            <a href="/professor/logout">Logout</a><br>
        </div>
    </div>

    <h1 style="padding-top: 50px; text-align:center; border: 1px #e9e9e9;">Add a Job</h1>
    <form action="/professor/add_job" method="post">
        <label for="job_type">Job type:</label><br>
        <input type="radio" id="ADH" name="job_type" value="ADH" onclick="toggleCourseFields()" required> ADH <br>
        <input type="radio" id="PAL" name="job_type" value="PAL" onclick="toggleCourseFields()" required> PAL <br>
        <input type="radio" id="others" name="job_type" value="other" onclick="toggleCourseFields()" required> Others <br>
        <div id="course-fields">
            <label for="course_id">Course ID:</label><br>
            <input type="text" id="course_id" name="course_id" placeholder="Enter Course ID"><br>
            <label for="course_name">Course Name:</label><br>
            <input type="text" id="course_name" name="course_name" placeholder="Enter Course Name"><br>
        </div>
        <div id="subject_to_teach">
            <label for="subject_to_teach">Subjects To Teach:</label><br>
            <input type="text" id="subject_to_teach1" name="subjects_to_teach" placeholder="Enter Subjects To Teach"><br>
        </div>
        <div id="role_name">
            <label for="role_name">Role Name:</label><br>
            <input type="text" id="role_name1" name="role_name" placeholder="Enter Role Name"><br>
        </div>

        <label for="job_description">Job Description:</label><br>
        <textarea id="job_description" name="job_description" placeholder="Enter Job Description" required></textarea><br>
        <label for="minimum_qualification">Minimum qualification:</label><br>
        <input type="text" id="minimum_qualification" name="minimum_qualification" placeholder="Enter Minimum CPI required for the position" required><br>
        <label for="job_criteria">Job Criteria:</label><br>
        <textarea id="job_criteria" name="job_criteria" placeholder="Enter Job Criteria" required></textarea><br>
        <label for="prerequisites">Prerequisites:</label><br>
        <textarea id="prerequisites" name="prerequisites" placeholder="Enter prerequisite courses to be done before applying for position" required></textarea><br>
        <label for="additional_information">Additional Information:</label><br>
        <textarea id="additional_information" name="additional_information" placeholder="Enter Additional Information" required></textarea><br>
        <label for="pay_per_hour">Pay per hour:</label><br>
        <input type="text" id="pay_per_hour" name="pay_per_hour" placeholder="Enter Pay per Hour" required><br>
        <label for="number_of_positions">Number of Positions:</label><br>
        <input type="text" id="number_of_positions" name="number_of_positions" placeholder="Enter Number of Positions" required><br>
        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date" required><br>
        <label for="end_date">End Date:</label><br>
        <input type="date" id="end_date" name="end_date" required><br>
        <label for="tenure">Tenure:</label><br>
        <input type="text" id="tenure" name="tenure" placeholder="Enter Tenure" required><br>
        <label for="application_deadline">Application Deadline:</label><br>
        <input type="date" id="application_deadline" name="application_deadline" required><br>
        <input type="submit" id="submit_button" value="Submit Application">
    </form>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="../../static/personal_info.js"></script> -->
    <script>
        function toggleCourseFields() {
            var adhRadioBtn = document.getElementById('ADH');
            var courseFields = document.getElementById('course-fields');
            var palRadioBtn = document.getElementById('PAL');
            var subject_to_teach = document.getElementById('subject_to_teach');
            var role_name = document.getElementById('role_name');

            if (adhRadioBtn.checked) {
                courseFields.style.display = 'block';
                subject_to_teach.style.display = 'none';
                role_name.style.display = 'none';
            } else if (palRadioBtn.checked) {
                subject_to_teach.style.display = 'block';
                courseFields.style.display = 'none';
                role_name.style.display = 'none';
            } else {
                role_name.style.display = 'block';
                courseFields.style.display = 'none';
                subject_to_teach.style.display = 'none';
            }
        }

        function toggleSubmitButton() {
            var job_type = document.querySelector('input[name="job_type"]:checked').value;
            var course_id = document.getElementById("course_id").value.trim();
            var course_name = document.getElementById("course_name").value.trim();
            var subject_to_teach = document.getElementById("subject_to_teach1").value.trim();
            var role_name = document.getElementById("role_name1").value.trim();
            var job_description = document.getElementById("job_description").value.trim();
            var minimum_qualification = document.getElementById("minimum_qualification").value.trim();
            var job_criteria = document.getElementById("job_criteria").value.trim();
            var prerequisites = document.getElementById("prerequisites").value.trim();
            // var additional_information = document.getElementById("additional_information").value.trim();
            // above is optional
            var pay_per_hour = document.getElementById("pay_per_hour").value.trim();
            var number_of_positions = document.getElementById("number_of_positions").value.trim();
            var start_date = document.getElementById("start_date").value.trim();
            var end_date = document.getElementById("end_date").value.trim();
            var tenure = document.getElementById("tenure").value.trim();
            var application_deadline = document.getElementById("application_deadline").value.trim();
            
            var submitButton = document.getElementById("submit_button");

            if ( ((course_id && course_name) || subject_to_teach || role_name) && job_description && minimum_qualification && job_criteria && prerequisites && pay_per_hour && number_of_positions && start_date && end_date && tenure && application_deadline) {
                submitButton.classList.add("enabled");
            } else {
                submitButton.classList.remove("enabled");
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            var inputFields = document.querySelectorAll('input[type="text"], textarea, input[type="date"], input[type="radio"]');
            inputFields.forEach(function(field) {
                field.addEventListener("input", toggleSubmitButton);
            });
        });
    </script>
    <script src="../../static/sidebar.js"></script>
</body>
</html>
