<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Job</title>
    <script>
        function toggleCourseFields() {
            var adhRadioBtn = document.getElementById('ADH');
            var courseFields = document.getElementById('course-fields');
            var palRadioBtn = document.getElementById('PAL');
            var subject_to_teach = document.getElementById('subject_to_teach');
            var role_name = document.getElementById('role_name');
           
            if (adhRadioBtn.checked) {
                courseFields.style.display = 'block';
                subject_to_teach.style.display = 'none';
                role_name.style.display = 'none';
            } else if (palRadioBtn.checked) {
                subject_to_teach.style.display = 'block';
                courseFields.style.display = 'none';
                role_name.style.display = 'none';
            }  
            else {
                role_name.style.display = 'block';
                courseFields.style.display = 'none';
                subject_to_teach.style.display = 'none';
            }
        }
        
    </script>
</head>
<body>
    <h1>Job Application</h1>
    <form action="/professor/add_job" method="post">
        <label for="job_type">Job type:</label><br>
        <input type="radio" id="ADH" name="job_type" value="ADH" onclick="toggleCourseFields()"  required> ADH <br>
        <input type="radio" id="PAL" name="job_type" value="PAL" onclick="toggleCourseFields()" required> PAL <br>
        <input type="radio" id="others" name="job_type" value="other"  onclick="toggleCourseFields()"required> Others <br>
        <div id="course-fields" style="display:none;">
            <label for="course_id">Course ID:</label><br>
            <input type="text" id="course_id" name="course_id" ><br>
            <label for="course_name">Course Name:</label><br>
            <input type="text" id="course_name" name="course_name"><br>
        </div>
        <div id="subject_to_teach" style="display:none;">
            <label for="subject_to_teach">Subjects To Teach:</label><br>
            <input type="text" id="subject_to_teach" name="subject_to_teach" ><br>
        </div>
        <div id="role_name" style="display:none;">
            <label for="role_name">Role Name:</label><br>
            <input type="text" id="role_name" name="role_name" ><br>
        </div>

        <!-- <label for="job_id">Job:</label><br> -->
        <!-- <input type="text" id="job_id" name="job_id" value="{{job_id}}:{{job_role}}"><br> -->
        <label for="job_description">Job Description:</label><br>
        <textarea id="job_description" name="job_description" required></textarea><br>
        <label for="minimum_qualification">Minimum qualification:</label><br>
        <input type="text" id="minimum_qualification" name="minimum_qualification" required><br>
        <label for="job_criteria">Job Criteria:</label><br>
        <textarea id="job_criteria" name="job_criteria" required></textarea><br>
        <label for="prerequisites">Prerequisites:</label><br>
        <textarea id="prerequisites" name="prerequisites" required></textarea><br>
        <label for="additional_information">Additional Information:</label><br>
        <textarea id="additional_information" name="additional_information" required></textarea><br>
        <label for="pay_per_hour">Pay per hour:</label><br>
        <input type="text" id="pay_per_hour" name="pay_per_hour" required><br>
        <label for="number_of_positions">Number of Positions:</label><br>
        <input type="text" id="number_of_positions" name="number_of_positions" required><br>
        <label for="start_date">Start Date:</label><br>
        <input type="date" id="start_date" name="start_date" required><br>
        <label for="end_date">End Date:</label><br>
        <input type="date" id="end_date" name="end_date" required><br>
        <label for="tenure">Tenure:</label><br>
        <input type="text" id="tenure" name="tenure" required><br>
        <label for="application_deadline">Application Deadline:</label><br>
        <input type="date" id="application_deadline" name="application_deadline" required><br>
        <input type="submit" value="Submit Application">
        
    </form>
    <script>
     function add_text(){
        var job_type = document.querySelector('input[name="job_type"]:checked').value;
        if(job_type == "ADH"){
            document.getElementById("course_id").style.display = "block";
            document.getElementById("course_name").style.display = "block";
        }
        else{
            document.getElementById("course_id").style.display = "none";
            document.getElementById("course_name").style.display = "none";
        }
     }
    
    </script>
</body>
</html>
