<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Job Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/newuser.css">
    <link rel="stylesheet" href="../../static/sidebar.css">
</head>

<body>

    <div id="professor-sidebar">
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- professor sidebar -->
        <div id="sidebar" class="sidebar">
            <h2>Dashboard</h2>
            <a href="/professor">Home Page</a><br>
            <a href="/professor/personal_info">Personal Info</a>
            <!-- <button onclick="toggleSubLinks()"></button> -->
            <br>
            <div class="sub-links">
                <a href="/professor/change_password">Change Password</a><br>
                <a href="/professor/update_profile">Personal Info Change</a><br>
            </div>
            <a href="/professor/jobs_created" >Jobs Created</a><br>
            <div class="sub-links">
                <a href="/professor/add_job">Create New Jobs</a><br>
            </div>
            <a href="/professor/timecard_for_review">Timecards for review</a><br>
            <a href="/professor/logout">Logout</a><br>
        </div>
    </div>

    <h1 style="padding-top: 50px; text-align:center; border: 1px #e9e9e9;" >Change Job Details for {{job_data[0][0]}}:{{job_data[0][2]}} </h1>
    <form action="/professor/change_job_details/{{job_data[0][0]}}" method="post">
        
        <label for="job_id">Job ID:</label>
        <input type="text" id="job_id" name="job_id" value="{{job_data[0][0]}}" readonly>
        <label for="job_type">Job Type:</label>
        <input type="text" id="job_type" name="job_type" value="{{job_data[0][1]}}" readonly>
        <div id="course-fields"></div>
            <label for="course_id">Course ID:</label><br>
            <input type="text" id="course_id" name="course_id" placeholder="Enter Course ID"><br>
            <label for="course_name">Course Name:</label><br>
            <input type="text" id="course_name" name="course_name" placeholder="Enter Course Name"><br>
        </div>
        <div id="subject_to_teach">
            <label for="subject_to_teach">Subjects To Teach:</label><br>
            <input type="text" id="subject_to_teach1" name="subjects_to_teach" placeholder="Enter Subjects To Teach"><br>
        </div>
        <div id="role_name">
            <label for="role_name">Role Name:</label><br>
            <input type="text" id="role_name1" name="role_name" placeholder="Enter Role Name"><br>
        </div>        
        <label for="job_description">Job Description:</label>
        <textarea rows="4" id="job_description" name="job_description" required>{{job_data[0][2]}}</textarea>
        <label for="minimum_qualification">Minimum qualification:</label>
        <input type="text" id="minimum_qualification" name="minimum_qualification" value="{{job_data[0][3]}}" required>
        <label for="job_criteria">Job Criteria:</label>
        <textarea id="job_criteria" name="job_criteria" required>{{job_data[0][4]}}</textarea>
        <label for="prerequisites">Prerequisites:</label>
        <textarea id="prerequisites" name="prerequisites" required>{{job_data[0][5]}}</textarea>
        <label for="additional_information">Additional Information:</label>
        <textarea id="additional_information" name="additional_information" required>{{job_data[0][6]}}</textarea>
        <label for="pay_per_hour">Pay per hour:</label>
        <input type="text" id="pay_per_hour" name="pay_per_hour" value='{{job_data[0][7]}}' required>
        <label for="number_of_positions">Number of Positions:</label>
        <input type="text" id="number_of_positions" name="number_of_positions" value='{{job_data[0][8]}}' required>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value='{{job_data[0][9]}}' required>
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value='{{job_data[0][10]}}' required>
        <label for="tenure">Tenure:</label>
        <input type="text" id="tenure" name="tenure" value='{{job_data[0][11]}}' required>
        <label for="application_deadline">Application Deadline:</label>
        <input type="date" id="application_deadline" name="application_deadline" value='{{job_data[0][14]}}' required>
        <input id="submit_button" type="submit" value="Submit Application">
    </form>
    <script>
        function toggleTextField(cb, id) {
            var input = document.getElementById(id);
            input.style.display = cb.checked ? 'block' : 'none';
        }

        function toggleSubmitButton() {
            var job_type = document.querySelector('input[name="job_type"]:checked').value;
            var course_id = document.getElementById("course_id").value.trim();
            var course_name = document.getElementById("course_name").value.trim();
            var subject_to_teach = document.getElementById("subject_to_teach1").value.trim();
            var role_name = document.getElementById("role_name1").value.trim();
            var job_description = document.getElementById("job_description").value.trim();
            var minimum_qualification = document.getElementById("minimum_qualification").value.trim();
            var job_criteria = document.getElementById("job_criteria").value.trim();
            var prerequisites = document.getElementById("prerequisites").value.trim();
            // var additional_information = document.getElementById("additional_information").value.trim();
            // above is optional
            var pay_per_hour = document.getElementById("pay_per_hour").value.trim();
            var number_of_positions = document.getElementById("number_of_positions").value.trim();
            var start_date = document.getElementById("start_date").value.trim();
            var end_date = document.getElementById("end_date").value.trim();
            var tenure = document.getElementById("tenure").value.trim();
            var application_deadline = document.getElementById("application_deadline").value.trim();
            
            var submitButton = document.getElementById("submit_button");

            if ( ((course_id && course_name) || subject_to_teach || role_name) && job_description && minimum_qualification && job_criteria && prerequisites && pay_per_hour && number_of_positions && start_date && end_date && tenure && application_deadline) {
                submitButton.classList.add("enabled");
            } else {
                submitButton.classList.remove("enabled");
            }
        }
        document.addEventListener("DOMContentLoaded", function() {
            var inputFields = document.querySelectorAll('input[type="text"], textarea, input[type="date"], input[type="radio"]');
            inputFields.forEach(function(field) {
                field.addEventListener("input", toggleSubmitButton);
            });
        });

    </script>
    <script src="../../static/sidebar.js"></script>
</body>
</html>
