<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/job_page.css">
    <link rel="stylesheet" href="../../static/jobs_created.css">
    <link rel="stylesheet" href="../../static/sidebar.css">
</head>
<body>
    <h1>Job Page</h1>
    
    <div id="main-content" class="main-content">
        <form action="/professor/job_page/{{job_id}}" method="post">
            <input type="hidden" name="job_id" value="{{ job_id }}">
            <button type="submit" name="submit_button" value="change_job_details">Change job details</button>
            <button type="submit" name="submit_button" value="delete_job">Delete Job</button>
            <button type="submit" name="submit_button" value="view_applications">View Applications</button>
            <button type="submit" name="submit_button" value="approved_applications">Approved Applications</button>
            <button type="submit" name="submit_button" value="stop_accepting_applications">Stop Accepting Applications</button>
        </form>

        <div class="job-details">
            <div class="detail"><b>Job ID:</b> <span>{{job[0][0]}}</span></div>
            <div class="detail"><b>Job Type:</b> <span>{{job[0][1]}}</span></div>
            <div class="detail"><b>Job Description:</b> <span>{{job[0][2]}}</span></div>
            <div class="detail"><b>Minimum Qualification:</b> <span>{{job[0][3]}}</span></div>
            <div class="detail"><b>Job Criteria:</b> <span>{{job[0][4]}}</span></div>
            <div class="detail"><b>Prerequisites:</b> <span>{{job[0][5]}}</span></div>
            <div class="detail"><b>Additional Information:</b> <span>{{job[0][6]}}</span></div>
            <div class="detail"><b>Pay per hour:</b> <span>{{job[0][7]}}</span></div>
            <div class="detail"><b>Number of positions:</b> <span>{{job[0][8]}}</span></div>
            <div class="detail"><b>Start Date:</b> <span>{{job[0][9]}}</span></div>
            <div class="detail"><b>End Date:</b> <span>{{job[0][10]}}</span></div>
            <div class="detail"><b>Is Available:</b> <span>{{job[0][12]}}</span></div>
            <div class="detail"><b>Application Deadline:</b> <span>{{job[0][13]}}</span></div>
        </div>

        <h2>Employed Students</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        {% for columnName in student_under_job_head %}
                        <th>{{ columnName.replace("_", " ") }}</th>
                        {% endfor %}
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in student_under_job_data %}
                    <tr>
                        {% for field in student %}
                        <td>{{ field }}</td>
                        {% endfor %}
                        <td>
                            {% if job_type == 'PAL' %}
                            <form action="/professor/job_page/{{job_id}}" method="post">
                                <input type="hidden" name="roll_number" value="{{ student[0] }}">
                                <button type="submit" name='submit_button' value="assign_mentees">Assign Mentees</button>
                            </form>
                            {% else %}
                            {{ pass }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="../../static/job_page.js"></script>
    <script src="../../static/login_page.js"></script>
</body>
</html>