<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Created</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../../static/template.css"> -->
    <link rel="stylesheet" href="../../static/jobs_created.css">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- professor sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/professor">Home Page</a><br>
        <a href="/professor/personal_info">Personal Info</a>
        <!-- <button onclick="toggleSubLinks()"></button> -->
        <br>
        <div class="sub-links">
            <a href="/professor/change_password">Change Password</a><br>
            <a href="/professor/update_profile">Personal Info Change</a><br>
        </div>
        <a href="/professor/jobs_created" >Jobs Created</a><br>
        <div class="sub-links">
            <a href="/professor/add_job">Create New Jobs</a><br>
        </div>
        <a href="/professor/timecard_for_review">Timecards for review</a><br>
        <a href="/professor/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content table-container"> 
        <!-- style="padding-top: 40px; text-align:center; border: 1px #e9e9e9;"> -->
        <a href="/professor/add_job" class="apply-job">Create a new job</a>
        <h1 class="main-content-heading">Jobs Created</h1>
        <table class="main-content-table">
            <thead class="main-content-table-head">
                <tr class="main-content-table-head-row">
                {% for columnName in job_head %}
                    <th>{{ (columnName.replace("_", " ")).capitalize() }}</th>
                {% endfor %}
                    <th>Action button</th>
                </tr>
            </thead>
            
            <tbody class="main-content-table-body" >
            
            {% set i = namespace(value=0) %}
                {% for job in job_data %}
                
                    {% if i.value % 2 == 0 %}
                        <!-- <div style="padding-top: 10px;"> -->
                            <tr class="main-content-table-body-row">
                                {% for field in job %}
                                    <td><div class="scrollable-content" style="margin: 20px 0px 20px 0px;">{{ field}}</div></td>  
                                {% endfor %}
                                <td>
                                    <form action="/professor/jobs_created" method="post">
                                        <input type="hidden" name="job_id" value="{{ job[0] }}">
                                        <button id="job_page_button" class="update-profile" type="submit" name="submit_button" value="job_page">Job Page</button>
                                    </form>
                                </td>
                            </tr>
                        <!-- </div> -->

                    {%else%}
                        <!-- increment i by 1 in jinja template format -->
                        <!-- <div style="padding-top: 10px;"> -->
                            <tr class="main-content-table-body-row" style="background-color: #e9e9e9; ">
                                {% for field in job %}
                                    <td ><div class="scrollable-content" style="margin: 20px 0px 20px 0px;">{{ field }}</div></td>  
                                {% endfor %}
                                <td>
                                    <form action="/professor/jobs_created" method="post">
                                        <input type="hidden" name="job_id" value="{{ job[0] }}">
                                        <button id="job_page_button" class="update-profile" type="submit" name="submit_button" value="job_page">Job Page</button>
                                    </form>
                                </td>
                            </tr>
                        <!-- </div> -->
                    {% endif %}
            
                    {% set i.value = i.value + 1 %}
                
                {% endfor %}
            </tbody>
        </table>
    </div>
        <script src="../../static/jobs_created.js"></script>
</body>
</html>
