<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/personal_info.css">
    <title>Professor Personal Information</title>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> -->
</head>
<body>
    <!-- <header style="background-color: blue;" > -->
        <!-- <nav style="color: blue;"> -->
            <!-- <div class="menu" style="color: blue;"> -->
                <!-- <a href="/professor">Home Page</a> -->
                <!-- <a href="/professor/personal_info">Personal Info</a> -->
                <!-- <div class="sub-links"> -->
                    <!-- <a href="/professor/change_password">Change Password</a> -->
                    <!-- <a href="/professor/update_profile">Personal Info Change</a> -->
                <!-- </div> -->
                <!-- <a href="/professor/jobs_created" >Jobs Created</a> -->
                <!-- <div class="sub-links"> -->
                    <!-- <a href="/professor/add_job">Create New Jobs</a> -->
                <!-- </div> -->
                <!-- <a href="/professor/timecard_for_review">Timecards for review</a> -->
                <!-- <a href="/professor/logout">Logout</a> -->
            <!-- </div> -->
        <!-- </nav> -->
    <!-- </header> -->

    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- professor sidebar -->
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/professor">Home Page</a><br>
        <a href="/professor/personal_info">Personal Info</a>
        <!-- <button onclick="toggleSubLinks()"></button> -->
        <br>
        <div class="sub-links">
            <a href="/professor/change_password">Change Password</a><br>
            <a href="/professor/update_profile">Personal Info Change</a><br>
        </div>
        <a href="/professor/jobs_created" >Jobs Created</a><br>
        <div class="sub-links">
            <a href="/professor/add_job">Create New Jobs</a><br>
        </div>
        <a href="/professor/timecard_for_review">Timecards for review</a><br>
        <a href="/professor/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>

    <div id="main-content" class="main-content">
        <h1 class="main-content-heading">Personal Information</h1>
        <div class="user-info">
            <p>Faculty ID: {{professor_data[0][0]}}</p>
            <p>First Name: {{ professor_data[0][1]}}</p>
            <p>Middle Name: {{ professor_data[0][2] }}</p>
            <p>Last Name: {{ professor_data[0][3] }}</p>
            <p>Department name: {{professor_data[0][4]}} </p>
            <p>Email ID: {{ professor_data[0][5] }}</p>
            <p>VOIP ID: {{ professor_data[0][6] }}</p>
        </div>

        <form action="{{url_for('professor_bp.professor_personal_info')}}" method="POST">
            <input type="submit" name="submit_button"  value="Update Profile" class="update-profile">
        </form>
        <form action="{{url_for('professor_bp.professor_personal_info')}}" method="POST">
            <input type="submit" name="submit_button"  value="Change Password" class="update-profile">
        </form>
    </div>
    <script src="../../static/personal_info.js">
        // function toggleMenu() {
        //     var sidebar = document.getElementById('sidebar');
        //     var mainContent = document.getElementById('main-content');
        //     sidebar.classList.toggle('open');
        // }
    </script>
</body>
</html>