<!DOCTYPE html>
<html>
<head>
    <title>Update Personal Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/professor/personal_info.css">
</head>
<body>
    <div class="menu-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="sidebar" class="sidebar">
        <h2>Dashboard</h2>
        <a href="/professor">Home Page</a><br>
        <a href="/professor/personal_info">Personal Info</a><br>
        <a href="/professor/jobs_created" >Jobs Created</a><br>
        <a href="/professor/timecard_for_review">Timecards for review</a><br>
        <a href="/professor/logout">Logout</a><br>
    </div>
    <div id="main-content-above" class="main-content-above">
        <!-- <p type="hidden">For space above the main form</p> -->
    </div>
    <div id="main-content" class="main-content">
        <form action="{{url_for('professor_personal_info_change')}}" method="post">
            <h1 class="main-content-heading">Update Personal Information</h1>
            <div class="user-info">
                <p>Faculty ID: {{professor_data[0][0]}}
                    <!-- <input type="text" name="faculty_id" value="{{professor_data[0][0]}}" readonly > -->
                </p>
                <p>First Name:<input type="text" name="first_name" value="{{professor_data[0][1]}}"required ></p>
                <p>Middle Name:<input type="text" name="middle_name" value="{{professor_data[0][2]}}" ></p>
                <p>Last Name:<input type="text" name="last_name" value="{{professor_data[0][3]}}" ></p>
                <p>Department Name: 
                    <!-- dropdown of CSE, MSE, BE, EE, CE, ME, CL, etc -->
                    <select name="department_name" id="department_name">
                        <option value="CSE">CSE</option>
                        <option value="MSE">MSE</option>
                        <option value="BE">BE</option>
                        <option value="EE">EE</option>
                        <option value="CE">CE</option>
                        <option value="ME">ME</option>
                        <option value="CL">CL</option>
                    </select>
                    <!-- <input type="text" name="department_name" value="{{professor_data[0][4]}}"> -->
                </p>
                <p>Email: {{professor_data[0][5]}}
                    <!-- <input type="text" name="email" value="{{professor_data[0][5]}}"  readonly> -->
                </p>
                <p >VOIP ID:
                    <input type="text" name="voip_id" value="{{professor_data[0][6]}}" >
                </p><br>
            </div>
            <input type="submit" name="submit_button" value="Update Profile" class="update-profile">
        </form>
    </div>
    <script>
        function toggleMenu() {
            var sidebar = document.getElementById('sidebar');
            var mainContent = document.getElementById('main-content');
            sidebar.classList.toggle('open');
        }
    </script>
</body>
</html>
