body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, #f8f9fa 0%, #e9eceb 100%);
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 50px;
    font-size: 2.5rem;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    height: 100vh;
    position: fixed;
    line-height: 40px;
    padding: 20px;
    left: -300px;
    transition: left 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.sidebar.open {
    left: 0;
}

.sidebar h2 {
    margin-top: 0;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    animation: slide-up 0.5s ease;
}

.menu-icon {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu-icon.open span {
    background-color: