body {
    /* background-image: url(Final_IITGN-Logo-symmetric-Color.png); */
    /* background-size: 50px 50px; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: top left; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    animation: fadeIn 1s ease;
}

form {
    /* height: 30vw; */

    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 1s ease;
}

/* 
@media (max-width: 480px) {
    .radio-container {
        flex-direction: column;
    }
    .radio-container div {
        margin-right: 0;
    }
} */

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555555;
}

.password-container {
    position: relative;
}

.password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.password-container input[type="password"]:focus {
    border-color: #666666;
    outline: none;
}

.password-container .toggle-password {
    position: absolute;
    top: 38%;
    /* display: flex; */
    /* align-items: center; */
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888888;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #666666;
    outline: none;
}

input[type="submit"] {
    background-color: #179cd9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.5;
    pointer-events: none;
    width: 100%;
}

input[type="submit"].enabled {
    opacity: 1;
    pointer-events: auto;
    /* flex: 12; */

}

input[type="submit"]:hover.enabled {
    background-color: #1280a9;
}

.radio-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.radio-container div {
    margin-right: 20px;
    margin-bottom: 10px;
}

.eye-icon {
    width: 30px;
    /* height: 30px; */
    fill: currentColor;
    opacity: 0.5;
}

/* @media (min-width: 1080px) {

    #form-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: larger;
    }
    #form-body {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: larger;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        animation: fadeIn 1s ease;
    }
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}