body {
    /* background-image: url(Final_IITGN-Logo-symmetric-Color.png); */
    /* background-size: 50px 50px; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: top left; */

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;

    /* dark mode trials start*/

    --light-bg-color: #E9E9E9;
    --light-text-color: #333333;
    --light-input-bg-color: #ffffff;
    --light-input-border-color: #cccccc;
    --light-input-focus-border-color: #666666;
    --light-submit-bg-color: #179cd9;
    --light-submit-hover-bg-color: #1280a9;

    /* 
    --dark-bg-color: #1a1a1a;
    --dark-text-color: #e0e0e0;
    --dark-input-bg-color: #2d2d2d;
    --dark-input-border-color: #3d3d3d;
    --dark-input-focus-border-color: #999999;
    --dark-submit-bg-color: #2196f3;
    --dark-submit-hover-bg-color: #1976d2; */

    /* --light-bg-color: #000000; 
    --light-text-color: #ffffff; 
    --light-input-bg-color: #1a1a1a;
    --light-input-border-color: #333333; 
    --light-input-focus-border-color: #4d90fe; 
    --light-submit-bg-color: #4d90fe;
    --light-submit-hover-bg-color: #3a78d8; */

    --dark-bg-color: #000000;
    /* Black background for dark mode (same as light mode) */
    --dark-text-color: #c6c6c6;
    /* White text for dark mode (same as light mode) */
    --dark-input-bg-color: #1a1a1a;
    /* Dark input background for dark mode (same as light mode) */
    --dark-input-border-color: #333333;
    /* Dark input border color for dark mode (same as light mode) */
    --dark-input-focus-border-color: #4d90fe;
    /* Blue input focus border color for dark mode (same as light mode) */
    --dark-submit-bg-color: #4d90fe;
    /* Blue submit button background for dark mode (same as light mode) */
    --dark-submit-hover-bg-color: #3a78d8;
    /* Darker blue submit button hover background for dark mode (same as light mode) */


    /* dark mode trials end */
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    animation: fadeIn 1s ease;
}

form {
    /* height: 30vw; */

    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 1s ease;
    /* Add a subtle white box-shadow */
    /* box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);  */
}

/* 
@media (max-width: 480px) {
    .radio-container {
        flex-direction: column;
    }
    .radio-container div {
        margin-right: 0;
    }
} */

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555555;
}

.password-container {
    position: relative;
}

.password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.password-container input[type="password"]:focus {
    border-color: #666666;
    outline: none;
}

.password-container .toggle-password {
    position: absolute;
    top: 38%;
    /* display: flex; */
    /* align-items: center; */
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888888;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #666666;
    outline: none;
}

input[type="submit"] {
    background-color: #179cd9;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.5;
    pointer-events: none;
    width: 100%;
}

input[type="submit"].enabled {
    opacity: 1;
    pointer-events: auto;
    /* flex: 12; */

}

input[type="submit"]:hover.enabled {
    background-color: #1280a9;
}

.radio-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.radio-container div {
    margin-right: 20px;
    margin-bottom: 10px;
}

.eye-icon {
    width: 30px;
    /* height: 30px; */
    fill: currentColor;
    opacity: 0.5;
}

/* @media (min-width: 1080px) {

    #form-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: larger;
    }
    #form-body {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: larger;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        animation: fadeIn 1s ease;
    }
} */

/* ----------------------------------------------------------------------------------------- */
/* dark mode button styles */

#dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
    /* Ensure the button is on top of other elements */
}

/* Styles for dark mode */
body.dark-mode #dark-mode-toggle {
    background-color: #ccc;
    color: #333;
}

/* ----------------------------------------------------------------------------------------- */
/* dark mode trial start */
body {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

form {
    background-color: var(--light-input-bg-color);
    /* ... existing styles ... */
}

/* ... existing styles ... */

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: var(--light-input-bg-color);
    border-color: var(--light-input-border-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--light-input-focus-border-color);
}

input[type="submit"] {
    background-color: var(--light-submit-bg-color);
    /* ... existing styles ... */
}

input[type="submit"]:hover.enabled {
    background-color: var(--light-submit-hover-bg-color);
}

/* Add this for dark mode */
body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

body.dark-mode form {
    background-color: var(--dark-input-bg-color);
    color: var(--dark-text-color);
}

body.dark-mode h1 {
    color: var(--dark-text-color);
}

body.dark-mode input[type="text"],
body.dark-mode input[type="email"],
body.dark-mode input[type="password"] {
    background-color: var(--dark-input-bg-color);
    border-color: var(--dark-input-border-color);
    color: var(--dark-text-color);
}

body.dark-mode input[type="text"]:focus,
body.dark-mode input[type="email"]:focus,
body.dark-mode input[type="password"]:focus {
    border-color: var(--dark-input-focus-border-color);
}

body.dark-mode input[type="submit"] {
    background-color: var(--dark-submit-bg-color);
}

body.dark-mode input[type="submit"]:hover.enabled {
    background-color: var(--dark-submit-hover-bg-color);
}

/* ----------------------------------------------------------------------------------------- */
/* dark mode trial end */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}