
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Time Card</title>
</head>
<body>
    <h1> Time Card for oCEO Job</h1>
    <form action="/student/submit_timecard/{{job_id}}" method="post">
        <label for="job_id">Job:</label><br>
        <input type="text" id="job_id" name="job_id" value="{{job_id}}"  readonly><br>
        <label for="month">Month:</label><br>
        <input type="text" id="month" name="month" required><br>
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year" required><br>
        <label for="hours_worked">Hours Worked:</label><br>
        <input type="number" id="hours_worked" name="hours_worked" required><br>
        <label for="work_description">Work Description:</label><br>
        <textarea id="work_description" name="work_description" required></textarea><br>
        <label for="submit_button"></label><br>
        <button type="submit" name="submit_button" value="submit_timecard">Submit Time Card</button>
    </form>

</body>
</html>