
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select User Type</title>
    <!-- Include Bootstrap CSS if you're using it -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='loginpage_testing.css') }}">
</head>
<body>
    <!-- <h2>Select User Type: </h2>
    <div class="btn-container">
        <button class="btn" onclick="window.location.href='/loginpage_professor.html'">Professor</button>
        <button class="btn" onclick="window.location.href='/loginpage_admin.html'">Admin</button>
        <button class="btn" onclick="window.location.href='/loginpage_student.html'">Student</button>
    </div> -->
    <h1 id="animated-text">Welcome to oCEO Management System!</h1>
    <h2 id="animated-text1">Please Select User Type:</h2>
    <div class="btn-container">
        <button class="btn" onclick="window.location.href='/login/professor'">Professor</button>
         <button class="btn" onclick="window.location.href='/login/admin'">Admin</button>
         <button class="btn" onclick="window.location.href='/login/student'">Student</button>
        <button class="btn" onclick="window.location.href='/login/new_user'">New User</button>
    </div>
</body>

<script>
   window.onload = function() {
  var text = document.getElementById('animated-text').textContent;
  document.getElementById('animated-text').innerHTML = '';
  var totalDuration = 0;
  for (let i = 0; i < text.length; i++) {
    var span = document.createElement('span');
    span.textContent = text[i];
    var delay = i * 0.08; // Adjust the delay to change the speed
    span.style.animationDelay = `${delay}s`;
    document.getElementById('animated-text').appendChild(span);
    totalDuration = Math.max(totalDuration, delay);
  }

//   document.getElementById('animated-text').addEventListener('animationend', function() {
//     var text = document.getElementById('animated-text1').textContent;
//     document.getElementById('animated-text1').innerHTML = '';
//     for (let j = 0; j < text.length; j++) {
//       var span = document.createElement('span');
//       span.textContent = text[j];
//       var delay = totalDuration + j * 0.08; // Adjust the delay to change the speed
//       span.style.animationDelay = `${delay}s`;
//       document.getElementById('animated-text1').appendChild(span);
//     }

//     document.getElementById('animated-text1').addEventListener('animationend', function() {
//       var buttons = document.querySelectorAll('.btn');
//       var div = document.createElement('div');
//       div.className = 'btn-container';
//       for (var i = 0; i < buttons.length; i++) {
//         buttons[i].parentNode.removeChild(buttons[i]);
//         div.appendChild(buttons[i]);
//         buttons[i].parentNode.removeChild(buttons[i]);
//       }
     
    // });
//   });
};


    // Checking if error message is passed from Flask
    var errorMessage = "{{ error_message }}" || null;

    // Function that displays error message as a popup dialogue
    function displayErrorMessage() {
        if (errorMessage) {
            alert(errorMessage);
        }
    }
    // Calling the function to display error message
    displayErrorMessage();
</script>
</html>
