<!DOCTYPE html>
<html>
<head>
    <title>New User Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1+Code:wght@100..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<!-- <link href="D:/GitHub/oCEO_management_DataWeavers/main_project/static/newuser.css" rel="stylesheet"> -->
<link href="../static/newuser.css" rel="stylesheet">
</head>
<body>
    <form onsubmit="return validateForm()" method="POST">
        <h1>New User Registration</h1>
        <label for="roll_number">Roll Number/Employee ID:</label>
        <input type="text" id="roll_number" name="roll_number" required>

        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name">

        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name">

        <label for="email">Email ID:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <div class="password-container">
            <input type="password" id="password" name="password" required>
            <span class="toggle-password" onclick="togglePasswordVisibility('password')">show</span>
        </div>
        <label for="confirmPassword">Confirm Password:</label>
        <div class="password-container">
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <span class="toggle-password" onclick="togglePasswordVisibility('confirmPassword')">show</span>
        </div>
        <label>User Type:</label>
        <div class="radio-container">
            <div>
                <input type="radio" id="other" name="userType" value="other" required>
                <label for="other">Other</label>
            </div>
            <div>
                <input type="radio" id="professor" name="userType" value="professor" required>
                <label for="professor">Professor</label>
            </div>
            <div>
                <input type="radio" id="student" name="userType" value="student" required>
                <label for="student">Student</label>
            </div>
        </div>

        <input type="submit" id="submit-btn" value="Register">
    </form>
    <script src="../static/newuser.js"></script>
</body>
</html>