<!DOCTYPE html>
<html>
<head>
    <title>Student Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1+Code:wght@100..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/login_page.css">
    <script src="../static/login_page.js"></script>
</head>
<body>
    <!-- <div class="container"> -->
        <!-- <button onclick="toggleDarkMode()" style="position: fixed; top: 10px; right: 10px;">Toggle Dark Mode</button> -->
        <img src="{{url_for('static', filename='Final_IITGN-Logo-symmetric-Black.png')}}" id="IITGN-logo" alt="logo" class="logo">
        <form id="form-body" onsubmit="return errorMessage('{{error_message}}')" action="{{ url_for('auth_bp.login_student')}}" method="post">
            <h1>Student Login </h1>
            <label for="username">Email ID:</label>
            <input type="email" id="username" name="username" required>
            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('password')">
                    <img src="../static/eye_open.png" alt="show" class="eye-icon" id="show-password-icon">
                </span>
            </div>
            <p id="password-error" style="color: red; display: none;">Password is incorrect</p>
            <!-- <input type="password" id="password" name="password" required> -->
            <input id="submit-btn" type="submit" value="Submit">
        </form>
        <script>
            // Checking if error message is passed from Flask
            // var errorMessage = "{{ error_message }}" || null;

            // Function that displays error message as a popup dialogue
            function displayErrorMessage(errorMessage) {
                if (errorMessage) {
                    alert(errorMessage);
                }
            }
            // Calling the function to display error message
            // displayErrorMessage(errorMessage);
        </script>
        <button id="dark-mode-toggle" onclick="toggleDarkMode()">Toggle Dark Mode</button>
    <!-- </div> -->
</body>
</html>